@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
  }
  *{
    margin: 0;
    padding: 0;
  }

/* NAV SECTION STARTS HERE */
  header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    margin-top: 38px;
    margin-left: 200px;
  }
  header nav h3{
    font-size: 28px;
    font-weight: 700;
    
  }
  header nav button{
    border: 1px solid rgb(13, 19, 33);
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
  }
  /* NAV ENDS HERE */

  /* BANNER SECTION STARTS HERE */

  .Banner-section{
    background-image: url('/assets/bannerbg.png');
    height: 652px;
    margin-top: 38px;
  }
  .Banner-content{
    width: 998px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-picture{
    margin-top: 26px;
  }
  .banner-tittle{
    margin-top: 32px;
    font-size: 48px;
    text-align: center;
  }
  .banner-paragraph{
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
    color: #0D1321;
  }
.banner-button{
  margin-top: 32px;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  background-color: #0D1321;
  color: white;
}
/* BANNER ENDS HERE */
/* Developer section start here */
.development-mainsection{
  width: 1140px;
  height: 1395px;
  background: rgba(13, 19, 33, 0.02);
  margin: 74px auto 0 auto;
  border-radius: 16px;
}
.Developer-content{
  padding: 80px 97px 80px 97px;
  text-align: center;
}
.dev-tittle{
  font-size: 32px;
}
.dev-subtittle{
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(13, 19, 33, 0.7);
}
/* PARENT LAYER */
.layer-parent{
  padding: 0 97px 0 97px;
}
/* Layer 1 Start Here */
.layer1{
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background:linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.layer1-content{
  margin-right: 200px;
}
.layer1-tittle{
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.layer1-subtittle{
  font-size: 16px;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.layer1-button{
  margin-top: 32px;
  color: rgb(13, 19, 33);
  background-color: white;
  font-size: 20px;
  padding: 12px 20px 12px 20px;
}
/* LAYER 2 STARTS HERE */

.layer2{
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background:linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.layer2-content{
  margin-left: 200px;
}
.layer2-tittle{
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.layer2-subtittle{
  font-size: 16px;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.layer2-button{
  margin-top: 32px;
  color: rgb(13, 19, 33);
  background-color: white;
  font-size: 20px;
  padding: 12px 20px 12px 20px;
}
/* LAYER 3 START HERE */
.layer3{
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background:linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.layer3-content{
  margin-right: 200px;
}
.layer3-tittle{
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.layer3-subtittle{
  font-size: 16px;
  color: rgb(13, 19, 33);
  margin-top: 16px;
}
.layer3-button{
  margin-top: 32px;
  color: rgb(13, 19, 33);
  background-color: white;
  font-size: 20px;
  padding: 12px 20px 12px 20px;
}
/* DEVELOPER SECTION ENDS HERE */

/* INSPIRE SECTION START HERE */
.inspire-section{
  width: 1140px;
  margin: 50px auto;
}
.inspire-head{
  padding: 0 150px 0 150px;
  text-align: center;
}
.inspire-head-tittle{
  font-size: 32px;
  color: rgb(13, 19, 33);
}
.inspire-head-subtittle{
  margin-top: 24px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
}
.inspire-youtubevideo{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid gray;
  margin-top: 48px;
}
/* INSPIRE SECTION ENDS HERE */

/* CURRENT TARGET START HERE*/
.current-target-mainbox{
  width: 1140px;
  margin: 0 auto;
  margin-top: 152px;
  text-align: center;
}
.current-target-tittle{
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
.current-target-subtittle{
  margin-top: 24px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);

}
.current-target-card-main{
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.current-target-html{
  text-align: left;
  padding: 40px;
  width: 364px;
  background: rgba(255, 76, 30, 0.05);
  border-radius: 16px;
}
.current-target-css{
  text-align: left;
  padding: 40px;
  width: 364px;
  background: rgba(0, 76, 232, 0.05);
  border-radius: 16px;
}
.current-target-js{
  text-align: left;
  padding: 40px;
  width: 364px;
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
}
.current-target-boxtittle{
  margin-top: 24px;
  font-size: 24px;
  color: rgb(13, 19, 33);
}
.current-target-boxsubtittle{
  margin-top: 24px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
}
.current-target-ancor{
  margin-top: 24px;
  font-size: 16px;
}
/* Next Target Start here */
.next-target-top{
  width: 1040px;
  text-align: center;
  margin: 0 auto;
  margin-top: 111px;
}
.next-main-tittle{
  font-size: 32px;
}
.next-target-paragraph{
  font-size: 16px;
  color: rgba(13, 19, 33, 0.7);
  margin-top: 24px;
}
.next-target-box-main{
  width: 1140px;
  margin: 0 auto;
}
.react-section{
  border: 1px solid gray;
  border-radius: 16px;
  display: flex;
  padding: 24px;
  margin-top: 24px;
}
.next-target-box-text{
  margin-left: 24px;
}
.tagretsection{
  margin-bottom: 55px;
}
/* Contact me section */

.contact-main-content{
  margin: 0 auto;
  width: 1050px;
  padding: 64px 48px 64px 48px;
  background:linear-gradient(90.00deg, rgba(14, 1, 1, 0.329),rgba(0, 0, 0, 0.548),rgba(255, 255, 255, 0) 100%), url("assets/hand.jpg/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 100px;
}
.contact-tittle{
  font-size: 32px;
  color: rgb(255, 255, 255);
}
.contact-subtittle{
  margin-top: 16px;
  font-size: 16px;
  color: white;
}
.email{
  margin-top: 24px;
  font-size: 20px;
  width: 548px;
  color: #0D1321;
  height: 56px;
  border-radius: 16px;
  padding-left: 15px;
  border: none;
}
.email-button{
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px 17px 20px;
  border-radius: 16px;
  border: none;
}
/* Footer section start here */

.footer{
  height: 100px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-main{
  margin-top: 120px;
  height: 100px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text{
  font-size: 20px;
}